

.footer {
  margin-top: 50px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}


.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;

  /* Make the masthead heading the same height as the navigation */
}

.jumbotron {
  padding:20px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.search{
  margin-left:10px;
}

 table { table-layout: fixed; }
 table th, table td { overflow: hidden; }



 .row-fluid{
    line-height: 40px;
    vertical-align: top;
    border-top: 1px solid #DDD;
 }

 .tabbable{
    margin-top:20px;
 }

 